$state-danger-text: #f2dede;
$error-red-text: #ef4141;
$text-color-grey: #bbb;
input, textarea, select, .uneditable-input {
  border: 1px solid $text-color-grey;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input {
  height: auto !important;
}

// form
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}
.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}
.alert-error{
  background-color:$error-red-text;
}
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
#session_remember_me {
  margin-left: 0;
  width: auto;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $text-color-grey;
  }
}
