$state-danger-text: #f2dede;
$error-red-text: #ef4141;
$text-color-grey: #bbb;
input, textarea, select, .uneditable-input {
  border: 1px solid $text-color-grey;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input {
  height: auto !important;
}

// form
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}
.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}
.alert-error{
  background-color:$error-red-text;
}
.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
#session_remember_me {
  margin-left: 0;
  width: auto;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $text-color-grey;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

// sidebar
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $text-color-grey;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}
.users.follow {
  padding: 0;
}
