<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static.home.logo"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static.home.home"), "#" %></li>
        <li><%= link_to t("static.home.help"), "#" %></li>
        <li><%= link_to t("static.home.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
