<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("users.index.logo"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("users.index.home"), "#" %></li>
        <li><%= link_to t("users.index.help"), "#" %></li>
        <li><%= link_to t("users.index.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
